<h1>Detalhes do Curso: {{major.name}}</h1>
<p><strong>Código:</strong> {{major.code}}</p>
<p><strong>Descrição:</strong> {{major.description}}</p>
<p><strong>Criado em:</strong> {{major.createdAt}}</p>
<p><strong>Última Atualização:</strong> {{major.updatedAt}}</p>
<a href="/majors/update/{{major.id}}" class="btn btn-warning">Editar</a>
<a href="/majors" class="btn btn-secondary">Voltar para a Lista</a>